<header>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigationbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <app-indicator *ngIf="authService.authenticated()"></app-indicator>
    </div>
      <div class="collapse navbar-collapse" id="navigationbar">
        <ul class="nav navbar-nav">
          <li *ngIf="authService.authenticated()" routerLinkActive="active"><a routerLink="expenses"><i class="fa fa-money fa-2x"></i> Expenses</a></li>
          <li *ngIf="authService.authenticated()" routerLinkActive="active"><a routerLink="create-expense"><i class="fa fa-plus-square-o fa-2x"></i> Create</a></li>
          <li *ngIf="!authService.authenticated()"><a href="#" (click)="authService.login()"><i class="fa fa-sign-in fa-2x"></i> Log In</a></li>
          <li *ngIf="authService.authenticated()"><a href="#" (click)="authService.logout()"><i class="fa fa-sign-out fa-2x"></i> Log out</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>