<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-brand">
            <app-indicator></app-indicator>
        </div>
        <ul class="nav navbar-nav">
            <li class="pull-left" *ngIf="authorizationService.authenticated()" routerLinkActive="active">
                <a routerLink="expenses">
                    <i class="fa fa-money fa-2x"></i>
                    <span class="link-text hide-on-portrait"> Expenses</span>
                </a>
            </li>
            <li class="pull-left" *ngIf="authorizationService.authenticated()" routerLinkActive="active">
                <a routerLink="create-expense">
                    <i class="fa fa-plus-square-o fa-2x"></i>
                    <span class="link-text hide-on-portrait"> Create</span>
                </a>
            </li>
            <li class="pull-right" *ngIf="!authorizationService.authenticated()">
                <a href="#" (click)="authorizationService.login()">
                    <i class="fa fa-sign-in fa-2x"></i> 
                    <span class="link-text"> Log In </span>
                </a>
            </li>
            <li class="profile pull-right dropdown" *ngIf="authorizationService.authenticated()">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <img [src]="authorizationService.loggedInProfile().picture" height="30px" width="30px" />
                    <span class="hide-on-portrait">{{authorizationService.loggedInProfile().name}}</span>
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" (click)="authorizationService.logout()">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>