.fa-thermometer-empty{
    color: green
}

.fa-thermometer-half, .fa-thermometer-full{
    color: red
}

strong {
    vertical-align: super
}

.fa-2x + strong {
    color: red
}

.fa-thermometer-empty + strong {
    color: green
}

a {
    text-decoration: none;
}

a:hover strong {
    color: #fff;
}