<div class="container">
	<div class="page-header">
		<h1>Create expense</h1>
	</div>
	<form (ngSubmit)="onSubmit()"  #expenseForm="ngForm">
		<div class="form-group">
			<label>Amount:</label>
			<input class="form-control" type="number" [(ngModel)]="expense.amount" #amount="ngModel" name="amount" placeholder="Amount of expense" required>
			<div [hidden]="amount.valid || amount.pristine" class="alert alert-danger">
				Amount is required
			</div>
		</div>
		<div class="form-group">
			<label>Date:</label>
			<app-date [date]="expense.timestamp" [placeholder]="'Date when the purchase was done'"></app-date>
		</div>
		<div class="form-group">
			<label>Store:</label>
			<input class="form-control" [(ngModel)]="expense.store" #store="ngModel" name="store" placeholder="Place the purchase was done" required>
			<div [hidden]="store.valid || store.pristine" class="alert alert-danger">
				Store is required
			</div>
		</div>
		<div>
			<button class="btn btn-primary" [disabled]="!expenseForm.form.valid">Save</button>
		</div>
	</form>
</div>