<div class="container">
	<div class="page-header">
		<h1>Create expense</h1>
	</div>
	<form (ngSubmit)="onSubmit()" #expenseForm="ngForm">
		<div class="form-group">
			<label>Amount:</label>
			<input class="form-control" type="number"  step="0.01" [(ngModel)]="expense.amount" #amount="ngModel" name="amount" placeholder="Amount of expense" required>
			<div [hidden]="amount.valid || amount.pristine" class="alert alert-danger">
				Amount is required
			</div>
		</div>
		<div class="form-group">
			<label>Time of purchase:</label>
			<input class="form-control" type="date" name="date" [(ngModel)]="expense.timeOfPurchase" useValueAsDate required>
		</div>
		<div class="form-group">
			<label>Store:</label>
			<input class="form-control" [(ngModel)]="expense.store" #store="ngModel" name="store" placeholder="Place the purchase was done" required>
			<div [hidden]="store.valid || store.pristine" class="alert alert-danger">
				Store is required
			</div>
		</div>
		<div>
			<button type="submit" class="btn btn-primary" [disabled]="!expenseForm.form.valid">Save</button>
		</div>
	</form>
</div>