<div class="container-fluid">
    <div class="page-header">
        <h1>Barometer</h1>
    </div>
    <div class="row row-header">
        <div class="col-xs-3 col-md-4">Date</div>
        <div class="col-xs-3 col-md-2">
            <div class="pull-right">Amount</div>
        </div>
        <div class="col-xs-3 col-md-2">
            <div class="pull-right">Total</div>
        </div>
        <div class="col-xs-3 col-md-2">
            <div class="pull-right">Average</div>
        </div>
    </div>
    <div *ngFor="let expense of barometerExpenses; let i = index; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even }" class="row">
        <div class="col-xs-3 col-md-4">{{expense.timestamp | date: 'longDate'}}</div>
        <div class="col-xs-3 col-md-2">
            <div class="pull-right">{{expense.totalAmount | currency:'DKK':true}}</div>
        </div>
        <div class="col-xs-3 col-md-2">
            <div class="pull-right">{{expense.monthToDayAmount | currency:'DKK':true}}</div>
        </div>
        <div class="col-xs-3 col-md-2">
            <div class="pull-right">{{expense.average | currency:'DKK':true}}</div>
        </div>
    </div>
</div>