.row-header{
    font-weight: bold;
    color: #000;
    padding-bottom: 5px;
}

.odd {
    background-color: #fff;
    padding: 5px 0 5px 0;
}
.even{
    background-color: #ccc;
    padding: 5px 0 5px 0;
    
}