<div class="container-fluid">
    <div class="page-header">
        <h1>Barometer</h1>
    </div>
    <div *ngIf="temperature=='NORMAL'" class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <strong>Well done!</strong> Money in the bank
    </div>
    <div *ngIf="temperature=='MIDDLE'" class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <strong>Warning!</strong> You are on the right track
    </div>
    <div *ngIf="temperature=='HIGH'" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <strong>Oh snap!</strong> Money is going down the drain
    </div>

    <div class="row row-header">
        <div class="col-xs-3 col-md-4">Date</div>
        <div class="col-xs-3 col-md-2">
            <div class="pull-right">Amount</div>
        </div>
        <div class="col-xs-3 col-md-2">
            <div class="pull-right">Month to day amount</div>
        </div>
        <div class="col-xs-3 col-md-2">
            <div class="pull-right">Average</div>
        </div>
    </div>
    <div *ngFor="let expense of barometerExpenses; let i = index; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even }"
        class="row">
        <!--<div class="col-xs-3 col-md-4">{{expense.timestamp }}</div>-->
        <div class="col-xs-3 col-md-4">{{expense.timestamp | date: 'longDate'}}</div>
        <div class="col-xs-3 col-md-2">
            <div class="pull-right">{{expense.totalAmount | currency:'DKK':true}}</div>
        </div>
        <div class="col-xs-3 col-md-2">
            <div class="pull-right">{{expense.monthToDayAmount | currency:'DKK':true}}</div>
        </div>
        <div class="col-xs-3 col-md-2">
            <div class="pull-right">{{expense.average | currency:'DKK':true}}</div>
        </div>
    </div>
</div>